* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  color: #2a2a2a;
}

:root {
  --cor-primaria: #331e38;
  --cor-secundaria: #b2a59b;
  --cor-clara: #ffffff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  background: linear-gradient(135deg, #73657e, #1b0022);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;

  padding: 4px 0;

  transform: translateY(-100%);
  transition: 0.4s ease;
  z-index: 9999;
}

.header.show {
  transform: translateY(0);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 90px;
  opacity: 0.9;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: var(--cor-clara);
  text-decoration: none;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--cor-secundaria);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.intro {
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  background: linear-gradient(135deg, #1b0022, #73657e);
}

.intro::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: #b2a59b;
  border-radius: 50%;
  top: -150px;
  right: -150px;
  opacity: 0.2;
  filter: blur(80px);
}

.intro::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #b2a59b;
  border-radius: 50%;
  bottom: -150px;
  left: -150px;
  opacity: 0.15;
  filter: blur(100px);
}

.intro-content {
  text-align: center;
  z-index: 2;
}

.logo-intro {
  width: 250px;
  opacity: 1;
}

.nome-destaque {
  font-size: 3.8rem;
  color: #e0dad5;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
}

.subtitulo {
  color: #b2a59b;
  font-size: 1.5rem;
}

.section {
  padding: 80px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.sobre-container {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.sobre-img img {
  width: 280px;
  border-radius: 20px;
  object-fit: cover;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.sobre-img img:hover {
  transform: scale(1.03);
}

.sobre-texto {
  flex: 1;
}

.sobre-texto h2 {
  text-align: left;
}

.sobre-texto p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.skills-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--cor-clara);
  padding: 8px 12px;
  border-radius: 20px;

  font-size: 1rem;

  transition: 0.3s;
}

.skill-item img {
  width: 20px;
}

.skill-item:hover {
  transform: scale(1.08);
  background: #4c2d53;
  color: white;
}

.destaque {
  background: #f1eeee;
}

.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: linear-gradient(135deg, #ffffff, #4f255a);
  border-radius: 16px;
  overflow: hidden;

  transition: 0.4s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  color: var(--cor-primaria);
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.9rem;
  color: #ffffff;
}

.techs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.techs span {
  background: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.75rem;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  background: var(--cor-primaria);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
}

.btn-outline {
  border: 1px solid var(--cor-primaria);
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.85rem;
  color: var(--cor-primaria);
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.footer {
  background: var(--cor-primaria);
  color: var(--cor-clara);
  text-align: center;
  padding: 20px;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
/* GRID PRINCIPAL */
.futuros-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  margin-top: 40px;
}

/* TÍTULOS */
.futuros-projetos h3,
.futuros-eventos h3 {
  margin-bottom: 20px;
  color: var(--cor-primaria);
}

/* STATUS DEV */
.status.dev {
  display: inline-block;
  margin-top: 15px;
  background: #73657e;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.7rem;
}

.timeline {
  position: relative;
  padding-left: 25px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  width: 2px;
  height: 100%;
  background: var(--cor-secundaria);
}

.evento {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.bolinha {
  width: 12px;
  height: 12px;
  background: var(--cor-secundaria);
  border-radius: 50%;
  margin-top: 5px;
}

.conteudo p {
  margin: 0;
}

.data {
  font-size: 0.75rem;
  color: #777;
}
